@font-face {
  font-family: Poppins_bold;
  src: url("../Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins_Regular;
  src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}
body {
  background-color: #f5f6fa;
}
.form-check-input:checked {
  background-color:#43c27e !important;
  border-color: #43c27e !important;
}
.form-switch .form-check-input {
  width: 3em !important;
}

.NPIS_Container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content-page {
  margin-left: 0px !important;
  min-height: 0vh !important;
  padding: 0px !important;
}
.side_bar_Container {
  width: 4.5%;
  padding: 1.4% 0.8% 1.4% 1.2%;
  transition: 0.4s linear;
  background: linear-gradient(180deg, #74d6b9 0%, rgba(94, 183, 156, 0) 83.72%), #577dc6;
  overflow: hidden;
}
.side_bar_Container.show {
  width: 16.8%;
  height: 130vh;
}
.side_bar_Container .round_parent {
  width: 7.9%;
}
.side_bar_Container .round_parent .round {
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.2rem solid #fff;
  border-radius: 50%;
}
.side_bar_Container .NPIS_logo_container {
  padding-bottom: 2.2rem;
  align-items: center;
}
.side_bar_Container .NPIS_logo_container .NPIS_logo {
  cursor: pointer;
}
.side_bar_Container .NPIS_logo_container .NPIS_logo_right_content {
  width: 100%;
  align-items: center;
  display: flex;
  transition: 0.4s ease-in;
}
.side_bar_Container .NPIS_logo_container .NPIS_logo_right_content h3 {
  padding: 0 1rem;
  font-size: 1.55rem;
  font-weight: bold;
  font-family: Poppins_bold;
  margin: 0;
}
.side_bar_Container .NPIS_logo_container .NPIS_logo_right_content.active {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.side_bar_Container h3.Modul {
  color: #fff;
  font-size: 0.88rem;
  text-transform: uppercase;
  font-family: Poppins_Bold;
  padding-bottom: 0.5rem;
}
.side_bar_Container .round_parent {
  width: 8.9%;
}
.side_bar_Container .round_parent .round {
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content {
  padding: 0.8rem 0.4rem;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .sidebar_icon {
  cursor: pointer;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list {
  width: 100%;
  padding-left: 0.8rem;
  opacity: 1;
  left: 0;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header {
  padding: 0rem 0.4rem;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link {
  display: block;
  text-decoration: none;
  color: #f4f9fa;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Poppins_Regular;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link .sidebar_icon_Container .sidebar_icon_right_content {
  width: 100%;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link .sidebar_icon_Container .sidebar_icon_right_content .sb_contents {
  justify-content: space-between;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link .sidebar_icon_Container .sidebar_icon_right_content .sb_contents p {
  padding-top: 0.3rem;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link .sidebar_icon_Container .sidebar_icon_right_content .sb_contents .d_arrow {
  transform: rotate(270deg);
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link .sidebar_icon_Container .sidebar_icon_right_content .sb_contents .d_arrow.active {
  transform: rotate(0);
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .Accordian-header a.Accordian_link p {
  margin: 0;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .accordian_collapse_list ul {
  padding: 0 0.35rem;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .accordian_collapse_list ul li:nth-child(1) a {
  padding-top: 1rem;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .accordian_collapse_list ul li a {
  text-decoration: none;
  display: block;
  padding: 0.3rem 0;
  font-size: 0.86rem;
  color: #f4f9fa;
  font-family: Poppins_Regular;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list .accordian_collapse_list ul li a:hover {
  font-weight: 600;
}
.side_bar_Container .sidebar_list_container #accordionParent .accordian_content .accordian_single_list.active {
  width: 0%;
  height: 0;
  overflow-x: hidden;
}
.side_bar_Container .sidebar_list_container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*Top menu nav*/

.Mainbody_conatiner {
  width: 83.2%;
  transition: 0.4s ease-in-out;
}
.Mainbody_conatiner.active {
  width: 95.5%;
}
.Mainbody_conatiner header nav {
  background-color: #fff;
  padding: 0.9rem 1.2rem;
}
.Mainbody_conatiner header nav .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mainbody_conatiner header nav .nav_bar .Nav_left_Input_content {
  width: 25%;
}
.Mainbody_conatiner header nav .nav_bar .Nav_left_Input_content input {
  border: none;
  border-radius: 0;
  height: 47px;
  background-color: #f5f6fa;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.Mainbody_conatiner header nav .nav_bar .Nav_left_Input_content button {
  border-radius: 0 3px 3px 0;
  background-color: #39b0d2;
  color: #fff;
  border: none;
  font-family: Poppins_Regular;
  padding: 0 1.8rem;
}
.Mainbody_conatiner header nav .nav_bar .Nav_right_content .Nav_right_img_content {
  align-items: center;
  gap: 1.6rem;
  padding: 0 1rem;
}
.Mainbody_conatiner header nav .nav_bar .Nav_right_content .Nav_right_img_content .icons_contains {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}
.Mainbody_conatiner header nav .nav_bar .Nav_right_content .profile_container {
  background-color: #faf9fe;
  border-left: 1px solid #f6f6f6;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem 3rem 2rem 2rem;
  margin-top:-20px;
  margin-bottom:-14px;
  margin-right:-19px;

}
.Mainbody_conatiner header nav .nav_bar .Nav_right_content .profile_container .profile_content h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #747ba3;
}
.Mainbody_conatiner header nav .nav_bar .Nav_right_content .profile_container .profile_content p {
  font-size: 0.8rem;
  color: #a3adb1;
  margin: 0;
}

/*Login*/

#log_masuk_modal .log_masuk_modal_dialog {
  max-width: 50%;
}
#log_masuk_modal .log_masuk_modal_container {
  padding: 5% 0;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content {
  width: 62%;
  margin: auto;
  padding: 5% 0;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_header button {
  background-color: transparent;
  border: none;
  /*x(close)*/
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body {
  padding: 0;
  font-family: Poppins_Regular;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body h4 {
  font-size: 2.5rem;
  font-family: Poppins_bold;
  text-transform: uppercase;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container nav .nav-link.active {
  border-bottom: transparent;
  background-color: #fff;
  border-color: #000;
   /*JPS (pengguna JPS border)*/
}

#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container nav .nav-link1 {
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  background-color: #fff;
  border-color: #000;
  /*JPS (pengguna kementerian/agensi border)*/
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container nav button {
  background-color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  /*JPS (pengguna JPS||kementerian tab content)*/
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content .info {
  padding-top: 1rem;
  color: #c4c4c4;
  font-size: 0.8rem;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form input {
  width: 90%;
  padding: 1rem 10%;
  height: auto;
  border-color: #000;
  margin-bottom: 4%;
  border-radius: 8px;
  background-image: url("../images/Kad.png");
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: top 45% left 2%;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form input.password_eye_field {
  background-image: url("../images/Kata.png");
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .masuk_submit {
  padding: 1.2rem 0.5rem;
  background-color: #317292;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 100%;
  font-size: 1.1rem;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .forget_password {
  padding-top: 2%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_content .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .forget_password button {
  background-color: transparent;
  border: none;
  color: #4a7bba;
  padding: 0.7%;
}

#Forget_modal .forget_modal_dialog {
  max-width: 35%;
}
#Forget_modal .forget_modal_dialog .forget_modal_content {
  border-radius: 10px;
  box-shadow: rgba(1, 8, 17, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(15, 15, 15, 0.08) 0px 1px 0px inset;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body {
  padding: 6% 7%;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_heading h4 {
  font-size: 1.3rem;
  font-family: poppins_bold;
  text-transform: uppercase;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_heading p {
  font-size: 0.9rem;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_form form input {
  background-color: #f8f8f8;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: #000;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_form form .forget_submit button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 1.8% 10%;
  color: #fff;
  font-weight: 500;
  background-color: #1c8c51;
}

#sucess_modal .sucess_modal_dialog {
  max-width: 35%;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content {
  padding: 5% 3%;
  border: none;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body {
  width: 100%;
  margin: auto;
  margin-top:2%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body h3 {
  font-size: 1.6rem;
  text-align: center;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body button {
  margin-top: 4%;
  background-color: #0062dd;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-size: 0.87rem;
  padding: 0.4rem 1rem;
}


.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_container .login_btn {
  padding: 1rem 3%;
  font-size: 1.4rem;
}

.eye_icon {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: transparent;
  border: none;
  z-index: 9999;
}

.sucess_msg {
  position: absolute;
  top: -18%;
  left: 40%;
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */
/* .dropdown-menu.mt-3.show{
  left:38px
} */

#log_masuk_modal {
  background-color: rgba(0, 0, 0, 0.2);
}
#log_masuk_modal .log_masuk_modal_dialog {
  max-width: 50%;
}
#log_masuk_modal .log_masuk_modal_container {
  padding: 5% 0;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container {
  width: 62%;
  margin: auto;
  padding: 5% 0;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_header button {
  background-color: transparent;
  border: none;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body {
  padding: 0;
  font-family: Poppins_Regular;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body h4 {
  font-size: 2.5rem;
  font-family: Poppins_bold;
  text-transform: uppercase;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container nav .nav-tabs {
  border-bottom: 1px solid #000;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container nav .nav-link.active {
  border-color: #000;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container nav button {
  background-color: #fff;
  font-size: 1.2rem;
  color: #000;
  border-bottom: transparent;
  text-transform: uppercase;
  margin-bottom: 1px;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content .info {
  padding-top: 1rem;
  color: #c4c4c4;
  font-size: 0.8rem;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form input {
  width: 90%;
  padding: 1rem 10%;
  height: auto;
  border-color: #000;
  margin-bottom: 4%;
  border-radius: 8px;
  background-image: url("../images/Kad.png");
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: top 45% left 2%;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form input.password_eye_field {
  background-image: url("../images/Kata.png");
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .masuk_submit {
  padding: 1.2rem 0.5rem;
  background-color: #317292;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 97%;
  font-size: 1.1rem;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .forget_password {
  padding-top: 2%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#log_masuk_modal .log_masuk_modal_container .log_masuk_modal_container .log_masuk_modal_body .MAsuk_tab_container .pengguna_jps_tab_content form .forget_password button {
  background-color: transparent;
  border: none;
  color: #4a7bba;
  padding: 0.7%;
}

#Forget_modal {
  background-color: rgba(0, 0, 0, 0.2);
}
#Forget_modal .forget_modal_dialog {
  max-width: 35%;
}
#Forget_modal .forget_modal_dialog .forget_modal_content {
  border-radius: 10px;
  box-shadow: rgba(1, 8, 17, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(15, 15, 15, 0.08) 0px 1px 0px inset;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body {
  padding: 6% 7%;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_heading h4 {
  font-size: 1.3rem;
  font-family: poppins_bold;
  text-transform: uppercase;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_heading p {
  font-size: 0.9rem;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_form form input {
  background-color: #f8f8f8;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: #000;
}
#Forget_modal .forget_modal_dialog .forget_modal_content .forget_modal_body .forget_modal_form form .forget_submit button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 1.8% 10%;
  color: #fff;
  font-weight: 500;
  background-color: #1c8c51;
}

#sucess_modal {
  background-color: rgba(0, 0, 0, 0.2);
}
#sucess_modal .sucess_modal_dialog {
  max-width: 35%;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content {
  padding: 5% 3%;
  border-radius: 10px;
  border: none;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body {
  width: 100%;
  margin: auto;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body h3 {
  font-size: 1.6rem;
  text-align: center;
}
#sucess_modal .sucess_modal_dialog .sucess_modal_content .sucess_modal_body button {
  margin-top: 4%;
  background-color: #0062dd;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-size: 0.87rem;
  padding: 0.4rem 1rem;
}

.login_interface_section #Login_interface_modal {
  font-family: Poppins_Regular;
  background-color: rgba(0, 0, 0, 0.2);
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog {
  max-width: 53%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body {
  width: 78%;
  margin: 2% auto;
  padding: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content {
  width: 85%;
  margin: auto;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content h4 {
  font-size: 1.8rem;
  font-family: Poppins_bold;
  margin: 3% 0 5%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container {
  padding-bottom: 3%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container label {
  font-size: 0.9rem;
  color: #4a649d;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container {
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .checkmark {
  position: absolute;
  top: 2;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #636b99;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container:hover input ~ .checkmark {
  background-color: #ccc;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container input:checked ~ .checkmark {
  background-color: #fff;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container input:checked ~ .checkmark:after {
  display: block;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_container .radio_Container .r_container .checkmark:after {
  top: 1px;
  left: 1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #656c9a;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container {
  display: flex;
  gap: 1%;
  margin-bottom: 1.2%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container label {
  width: 24%;
  font-size: 0.85rem;
  color: #4a649d;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input {
  width: 85%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input input,
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input select {
  font-size: 0.9rem;
  height: auto;
  padding: 1.5% 3%;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  border-color: #e2e5ec;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input select {
  -webkit-appearance: none;
  background-image: url("../images/downarrow.png");
  background-size: 2.4%;
  background-repeat: no-repeat;
  background-position: right 3% top 40%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_checker {
  display: flex;
  gap: 10%;
  padding-left: 7%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_checker input {
  width: 3.8%;
  aspect-ratio: 1/1;
  padding: 2%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_checker .form_check_label {
  display: block;
  width: 98%;
  font-size: 0.8rem;
  color: #cbccd1;
  margin: 0;
  margin-left: auto;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .file_label {
  width: 24%;
  align-items: center;
  gap: 10%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .file_label label {
  width: 60%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .file_label .pop_btn {
  position: relative;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .file_label .pop_btn button {
  padding: 0;
  box-shadow: none;
  position: relative;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .file_label .pop_btn button img {
  width: 100%;
  pointer-events: none;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file {
  border: 1px solid #e2e5ec;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2%;
  gap: 2%;
  margin-left: 3.2%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file input {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file button {
  border: 1px solid #898989;
  border-radius: 4px;
  padding: 1.8% 2%;
  margin: 0 2%;
  font-size: 0.9rem;
  background-color: transparent;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file .file_size {
  margin: 0;
  color: #898989;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file .selected_file {
  font-size: 0.9rem;
  gap: 1rem;
  align-items: center;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file .selected_file p {
  margin: 0;
  font-size: 0.8rem;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .input_container .form_input_file .selected_file button {
  background-color: transparent;
  border: none;
  font-size: 0.7rem;
  color: red;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .form_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  padding-bottom: 8%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .form_btn_container button {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 1.4% 4.5%;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .form_btn_container button:nth-child(1) {
  background-color: #fe0000;
}
.login_interface_section #Login_interface_modal .login_interface_modal_dialog .login_interface_modal_content .login_interface_modal_body .login_interface_modal_body_content .interface_tab_content_container .login_interface_modal_form .form_btn_container button:nth-child(2) {
  background-color: #1400ff;
}

.login_sucess_modal_container #login_sucess_modal {
  background-color: rgba(0, 0, 0, 0.2);
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog {
  max-width: 37%;
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog .login_sucess_modal_content {
  padding: 3% 3%;
  border-radius: 10px;
  border: none;
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog .login_sucess_modal_content .login_sucess_modal_body {
  width: 100%;
  margin: auto;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog .login_sucess_modal_content .login_sucess_modal_body h3 {
  font-size: 1.35rem;
  font-weight: 600;
  text-align: center;
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog .login_sucess_modal_content .login_sucess_modal_body button {
  margin-top: 2%;
  background-color: #0062dd;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-size: 0.87rem;
  padding: 0.4rem 1rem;
}
.login_sucess_modal_container #login_sucess_modal .login_sucess_modal_dialog .login_sucess_modal_content .sucess_msg {
  position: absolute;
  top: -50%;
  left: 40%;
}

.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_container .login_btn {
  padding: 1rem 3%;
  font-size: 1.4rem;
}

.eye_icon {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: transparent;
  border: none;
  z-index: 9999;
}

.sucess_msg {
  position: absolute;
  top: -18%;
  left: 40%;
}
.sucess_msg img {
  background-color: #fff;
  border-radius: 50%;
}

.modal-backdrop {
  background-color: transparent;
}

.popover-body {
  padding: 1.5rem 1.4rem;
  background-color: #e9e9e9;
  font-size: 0.75rem;
}

.bs-popover-right > .arrow::after {
  border-right-color: #e9e9e9;
}

.switch {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0acd95;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0acd95;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */

Mainbody_conatiner .Mainbody_content .userlist_container .userlist_content .userlist_tab_container .userlist_tab_btn_container {
  display: flex;
  gap: 2.5%;
  padding-left: 2.5%;
}
.Mainbody_conatiner .Mainbody_content .userlist_container .userlist_content .userlist_tab_container .userlist_tab_btn_container button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #39b0d2;
  position: relative;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.6rem 0.3rem;
}
.Mainbody_conatiner .Mainbody_content .userlist_container .userlist_content .userlist_tab_container .userlist_tab_btn_container button.active {
  position: relative;
  color: #1e1e20;
}
.Mainbody_conatiner .Mainbody_content .userlist_container .userlist_content .userlist_tab_container .userlist_tab_btn_container button.active::before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -2px;
  left: 0;
  border: 2px solid #39b0d2;
}